*.o
*.bat
*.exe
*.dll
*.bin
*.zip
*.rar
*.fds
*.raw
*.A
*.B
*.C
*.D
*.gd

*.sdf
*.opendb

cli/vs2015/Debug
cli/vs2015/Release
cli/vs2015/.vs
cli/vs2015/x64
cli/gd
cli/fdsemu-cli

qt/ui_*.h
qt/debug
qt/release
qt/Makefile*
qt/object_script*

fw

